# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds
build/
dist/
out/

# Environment files
.env
.env.*

# Logs
*.log

# Coverage
coverage/

# Cache
.cache/
.parcel-cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Git
.git/

# Husky
.husky/_/
